<h1 class="current-category"><%= params[:category] %></h1>

<% if @projects.count == 0 %>
  <h3>There are no projects in this category</h3>
<% else %>
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-md-3">
        <a href="/projects/ <%= project.id %>">
          <%= image_tag project.image.url(:project_index), class: "project" %>
        </a>
      </div>
    <% end %>
  </div>
<% end %>
